@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader_logo {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
    transform: rotate(90deg);
  }
  50% {
    opacity: 1;
    transform: rotate(180deg);
  }
  75% {
    opacity: 1;
    transform: rotate(270deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes loader_box {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.loader_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 80px;
  font-weight: bold;
  position: fixed;
  font-family: "Shrikhand";
  z-index: 999;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: rgb(255, 121, 218);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%, rgb(147, 86, 220) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%, rgb(147, 86, 220) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%, rgb(147, 86, 220) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff79da", endColorstr="#9356dc", GradientType=0);
  /* IE6-9 */
  animation: loader_box 5s forwards;
}
@media (max-width: 768px) {
  .loader_box .title {
    font-size: 60px;
  }
}
.loader_box .loader_logo {
  animation: loader_logo 1.5s;
}

body {
  min-width: 365px;
  max-width: 768px;
}
@media (min-width: 768px) {
  body {
    max-width: 100%;
  }
}
@media (min-width: 1024px) {
  body {
    max-width: 100%;
  }
}

img {
  width: 100%;
}

h1 h2 {
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

h3 {
  font-family: "Shrikhand", cursive;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* fin logo */
  /* fin recherche */
  /* fin bouton explorer */
}
header .logo-box {
  width: 65%;
  padding: 10px;
}
header .imgbox {
  display: flex;
  justify-content: center;
}
header .ohmyfood {
  display: flex;
}
header form {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #F2F2F2;
  border-top: rgb(211, 205, 205) solid 3px;
}
header .search_box {
  margin-left: 5%;
}
header i {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  color: rgb(134, 132, 132);
}
header .research {
  background-color: #F2F2F2;
  border: none;
  outline: none;
  font-weight: 600;
}
header .search_box i {
  color: black;
}
header .menu_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #faf8f8;
  width: 100%;
  height: 300px;
}
header .button_header {
  display: block;
  margin-top: 4%;
  width: 250px;
  height: 55px;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  background: rgb(255, 121, 218);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%, rgb(147, 86, 220) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%, rgb(147, 86, 220) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%, rgb(147, 86, 220) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff79da", endColorstr="#9356dc", GradientType=0);
  /* IE6-9 */
}
header .button_header a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
}
header .button_header p {
  margin: 0%;
  padding: 6%;
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5%;
}
.nav a {
  text-decoration: none;
  color: grey;
}
.nav a:hover {
  color: #9356DC;
}
.nav .btn_menu {
  display: flex;
  border-radius: 25px 25px 25px 25px;
  display: flex;
  background-color: #faf8f8;
  width: 90%;
  height: 90px;
  position: relative;
  margin-bottom: 5%;
}
.nav .btn_menu:hover {
  background-color: #d3beec;
  box-shadow: black 20px 20px 20px -20px;
}
.nav span {
  display: grid;
  align-content: center;
  font-weight: bold;
  margin-left: 7%;
  color: black;
}
.nav .icon_nav {
  display: flex;
  align-items: center;
  margin-left: 10%;
}
.nav .numberbox {
  width: 25px;
  height: 25px;
  border-radius: 20px;
  background: #9356DC;
  color: white;
  font-weight: bold;
  display: flex;
  margin-right: 1%;
  margin-bottom: 5%;
  position: absolute;
  top: 30px;
  left: -10px;
}
.nav .number {
  display: flex;
  width: 25px;
  height: 25px;
  align-items: center;
  justify-content: center;
}

@media (min-width: 1024px) {
  .fontion_menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}

@media (min-width: 1024px) {
  .box {
    display: flex;
    justify-content: center;
  }
}

.menu_carte {
  display: flex;
  flex-direction: column;
  padding: 2%;
}
.menu_carte a {
  text-decoration: none;
  color: black;
}
.menu_carte .title_menu {
  margin-top: 5%;
  margin-bottom: 5%;
}
.menu_carte .cards_global {
  padding: 2%;
}
.menu_carte .card {
  border-radius: 15px 15px 15px 15px;
  box-shadow: black 20px 20px 20px -20px;
  margin-block: 15px;
  width: 100%;
}
.menu_carte .card_img {
  display: flex;
  width: 100%;
  position: relative;
  border-radius: 15px 15px 0px 0px;
}
.menu_carte img {
  height: 250px;
}
.menu_carte .img_menu {
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  width: 100%;
  height: 200px;
}
.menu_carte .new {
  display: flex;
  position: absolute;
  width: 100px;
  height: 40px;
  border: solid #99E2D0;
  background-color: #99E2D0;
  right: 15px;
  top: 15px;
  align-items: center;
  justify-content: center;
  color: green;
  border-radius: 5px;
}
.menu_carte .card_body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  width: 95%;
  height: 100px;
}
.menu_carte .card_title {
  font-weight: bold;
}
.menu_carte .card_heart {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 2%;
  margin-bottom: 6%;
}
.menu_carte .card_heart i {
  position: absolute;
  transition: opacity 0.5s;
}
.menu_carte .card_heart .full_heart {
  font-size: 30px;
  opacity: 0;
}
.menu_carte .card_heart .empty_heart {
  font-size: 30px;
}
.menu_carte .card_heart:hover .full_heart {
  opacity: 1;
  background: linear-gradient(#9356dc, #ff79da);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu_carte .card_heart:hover .empty_heart {
  opacity: 0;
}

footer {
  padding: 5%;
  background: #353535;
  color: white;
  width: 100%;
}
footer .footer_list {
  margin-bottom: 1%;
}
footer a {
  text-decoration: none;
  color: white;
}
@media (min-width: 1024px) {
  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}

/*# sourceMappingURL=main.css.map */
