* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  max-width: 768px;
}

img {
  width: 100%;
}

h1, h2 {
  font-weight: bold;
  font-family: "Shrikhand", cursive;
}

h2 {
  font-size: 24px;
}

header {
  display: flex;
  width: 100%;
  justify-content: center;
}

  .banner_img {
    display: flex;
    align-items: center;
  }

  .ohmyfood {
    width: 70%;
  }

  .banner_arrow {
    display: flex;
    width: 71.5px;
    height: 71.5px;
    align-items: center;
}

.button_menu {
  display: block;
  margin-top: 4%;
  width: 250px;
  height: 55px;
  border-radius: 25px 25px 25px 25px;
  text-align: center;
  background: rgb(255, 121, 218);
  /* Old browsers */
  background: -moz-linear-gradient(top, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%, rgba(147, 86, 220, 1) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%, rgba(147, 86, 220, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255, 121, 218, 1) 0%, rgba(147, 86, 220, 1) 100%, rgba(147, 86, 220, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff79da', endColorstr='#9356dc', GradientType=0);
  /* IE6-9 */
}
  .button_menu a {
      color: white;
      text-decoration: none;
      font-weight: bold;
      display: block;
  }

  .button_menu p {
      margin: 0%;
      padding: 6%;
  }

  .button_box {
    display: flex;
    justify-content: center;
  }

/* fin bouton explorer */


/* main menu */

.title_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  flex-wrap: nowrap;
}

.card_body {
  border: solid black 1px;
  width: 95%;
  height: 80px;
  border-radius: 15px;
}

















footer {
  padding: 5%;
  background: #353535;
  color: white;
  width: 100%;
}
 
  .footer_list {
    margin-bottom: 1%;
  }
  
  .footer_list a {
    text-decoration: none;
    color:white;   
    }

  

